body {
    background: #1f1f1f;
}

.clock,
.calendar {
    font-family: "digital-7", Arial, Helvetica, sans-serif;
    text-align: center;
    color: #fff200;
}

.calendar {
    font-size: 40px;
}

.clock {
    font-size: 80px;
}